<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <style type="text/css">
            button {
                width:100px;
            }
            .ctrset {
                margin-bottom: 10px;
                width:100%
            }
            #show{
                width:100%;
            }
            #show > p {
                text-align:center;
                    margin-bottom:20px;
            }
        </style>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <script src="javascripts/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="show">
            <p>hello world</p>
        </div>
        <div>
            <label style="width:20%;display:inline-block;float:left">loginuser:</label>
            <label id="showloginuser" style="width:80%;display:inline-block;margin-bottom:5px;float:left">[]</label>
        </div>
        <div class="ctrset">
            <button id="regbtn">register</button>
            <label for="username">username</label>
            <input type="text" name="username" value="222">
            <label for="password">password</label>
            <input type="password" name="password" value="222">
            <label id="regshow"></label>
        </div>
        <div class="ctrset">
            <button id="loginbtn">user login</button>
            <label for="username">username</label>
            <input type="text" name="username" value="222">
            <label for="password">password</label>
            <input type="password" name="password" value="222">
            <label id="loginshow"></label>
        </div>
        <label>userlist:</label>
        <div id="usershow">
        </div>
    </body>
    <script type="text/javascript">
$($('#loginshow')[0])
        $(document).ready(function(){
            var lun = function(show, showstr){
                var str = '';
                var ll = null;
                return {
                    terval: function(){
                        ll = setInterval(function(){
                            str += '.';
                            if(7 == str.length){
                                str = '.';
                            }
                            show.text(showstr + str);
                        }, 600);
                    },
                    stopter: function(){
                        clearInterval(ll);
                    }
                }
            };

            (function(){
                //user register
                $('#regbtn').click(function(){
                    var regbtnwait = lun($($('#regshow')[0]), 'regging ,please wait');
                    regbtnwait.terval();
                    $.post(
                            '/chessgame/userreg',
                            {
                                username : $("input[name='username']")[0].value,
                                password : $("input[name='password']")[0].value
                            },
                            function(data){
                                regbtnwait.stopter(); 
                                $($('#regshow')[0]).text(data.result);
                            }
                          )
                });

                //user login 
                $('#loginbtn').click(function(){
                    var loginbtnwait = lun($($('#loginshow')[0]), 'logining ,please wait');
                    loginbtnwait.terval();
                    $.post(
                            '/chessgame/userlogin',
                            {
                                username : $("input[name='username']")[1].value,
                                password : $("input[name='password']")[1].value
                            },
                            function(data){
                                loginbtnwait.stopter();
                                if("user login sucessfully" == data.result){
                                    loginbtnwait = lun($($('#loginshow')[0]), 'use is ok and try login game');
                                    loginbtnwait.terval();
                                } else {
                                    console.log('log failed');
                                    $($('#loginshow')[0]).text(data.result);
                                }
                                if(null != data.username && "undefined" != typeof(data.username)){
                                    var socket = io.connect('http://<%= target.host %>:<%= target.port %>/chessgame', {
                                                'query': 'token='+data.token
                                            });
                                    socket.on('system', function(json){
                                        if(json.type == 'loginsucess'){
                                            console.log(json.type);
                                            loginbtnwait.stopter();
                                            $($('#loginshow')[0]).text("user login game sucessfully");
                                            $($('#showloginuser')[0]).text(data.username);
                                        } else if(json.type == 'newuserlogin'){
                                            console.log(json.type);
                                            $($('#usershow')[0]).children().remove();
                                            json.allplayers.forEach(function(player){
                                                var sel = "<label><input type='radio' name=";
                                                sel += "'" + player.username + "'";
                                                sel += " value='";
                                                sel += (player.username + "'");
                                                if(2 == player.curstatus){
                                                    sel += "checked='checked'";
                                                }
                                                sel += "/>" + player.username + "</label>";

                                                $($('#usershow')[0]).append(sel);
                                            });
                                        } else if (json.type == 'userotherplacelogin'){
                                            console.log(json.type);
                                            $($('#showloginuser')[0]).text('[your account login in other place, here logout]');
                                        } else if (json.type == 'userlogout'){
                                            console.log(json.type);
                                            $($('#usershow')[0]).children().remove();
                                            json.allplayers.forEach(function(player){
                                                var sel = "<label><input type='radio' name=";
                                                sel += "'" + player.username + "'";
                                                sel += " value='";
                                                sel += (player.username + "'");
                                                if(2 == player.curstatus){
                                                    sel += "checked='checked'";
                                                }
                                                sel += "/>" + player.username + "</label>";

                                                $($('#usershow')[0]).append(sel);
                                            });
                                        }
                                    });
                                    socket.on('disconnect', function(){
                                        $($('#loginshow')[0]).text("user logout game");
                                        $($('#usershow')[0]).children().remove();
                                    });
                                }
                            }
                          )
                });
            })();
        });
    </script>
</html>
