<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chainhelen's CV</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link href="stylesheets/cv/style.css" rel="stylesheet">
</head>
<body>
	<div id="main">
		<h1 class="title"></br>钱&nbsp海&nbsp龙</h1>
		<img id="infoimg"src="images/cv/chainhelen.jpg"style="float: right;text-align: right;padding: 5px;border:1px solid #ddd;widht: 90px;height: 130px">
		</br>
		<div class="basic-info section">
			<p>
				男 | 未婚 | 1993年1月生
			</p>

			<p>
				<label>
					现居
					<span class="colon">:</span>
				</label>
				<span class="value">
					<a href="http://chainhelen.herokuapp.com/baidumap"target="_blank">江苏 南京</a>
				</span>
			</p>

			<p>
				<label>
					户口
					<span class="colon">:</span>
				</label>
				<span class="value">
					<a href="http://chainhelen.herokuapp.com/mapbox" target="_blank">安徽 安庆</a>
				</span>			
			</p>


			<p>
				<label>
					邮箱
					<span class="colon">:</span>
				</label>
				<span class="value">
					<a href="mailto:chainhelen@gmail.com" target="_blank">chainhelen@gmail.com</a>
				</span>
			</p>

			<p>
				<label>
					手机号
					<span class="colon">:</span>
				</label>
				<span class="value">
					<a href="tel:+86 18669418209" target="_blank">+86 18651882735</a>
				</span>
			</p>

			<p>
				<label>
					个人blog
					<span class="colon">:</span>
				</label>
				<span class="value">
					<a href="http://hacking.pub/blog" target="_blank">hacking.pub/blog</a>
				</span>
			</p>
		<div class="clear"></div>
	</div>
	<!-- basic-info //-->
	<div class="section">
		<h2 class="title">求职意向</h2>
		<div class="set">
			<div class="se_li">
				<div class="se_li_first"><strong>工作性质：</strong></div>
				<div class="se_li_second">入职， 实习</div>
				<div class="clear"></div>
			</div>
			<div class="se_li">
				<div class="se_li_first"><strong>期望职业：</strong></div>
				<div class="se_li_second">前端工程，算法，软件研发，网络渗透</div>
				<div class="clear"></div>
			</div>
			<div class="se_li">
				<div class="se_li_first"><strong>期望行业：</strong></div>
				<div class="se_li_second">计算机软件、互联网行业(后端/前端)</div>
				<div class="clear"></div>
			</div>
			<div class="se_li">
				<div class="se_li_first"><strong>工作地区：</strong></div>
				<div class="se_li_second">二线城市以上</div>
				<div class="clear"></div>
			</div>
			<div class="se_li">
				<div class="se_li_first"><strong>目前状态：</strong></div>
				<div class="se_li_second">15年毕业，16年南京华为离职</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="title">教育经历</h2>
		<div class="set">
			<div class="se_li">
				<div class="se_li_first"><strong>大学 : </strong></div>
				<div class="se_li_second"> 2011/09--2015/07</div>
				<div class="clear"></div>
			</div>
			<div class="se_li">
				<strong style="float:left">中国海洋大学 | 信息与计算科学 |&nbsp</strong>
				<strong style="float:left">数学系 | 本科 | </strong>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="title">自我简述</h2>
		<div class="set">
			<div class="item">
				<h3><strong>热爱的编程语言及工具</strong>
					<ul class="skills">
						<li>c / c++</li>
						<li>Javascript / nodejs</li>
						<li>CSS</li>
						<li>jQuery</li>
						<li>Git</li>
					</ul>
					<div class="clear"></div>
				</h3>
			</div>

			<div class="item">
				<h3><strong>喜欢的工作平台</strong>
					<ul class="skills">						
						<li>vim / gvim</li>
						<li>codeblocks</li>
						<li>xubuntu</li>
					</ul>
				</h3>
				<div class="clear"></div>
			</div>					

			<div class="item">
				<h3><strong>团队的协作能力</strong></h3>
				<div class="block">
							另外本人曾任本校双截棍协会会长和电子竞技宣传部部长，多次社团组织活动，所以深知团队团结的重要性。
				</div>
			</div>
			<div class="item">
				<h3><strong>自学能力强</strong></h3>
					<div class="block">
						<div class="block_first">
							<strong>自学：</strong>
						</div>
						<div class="block_second">
							<strong>+ </strong>自己大部分所掌握computer-science都是在大学里自学的，具有一定的编程和网络信息安全基础。
						</div>
						<div class="clear"></div>
					</div>
					<div class="block">
						<div class="block_first">
							<strong>算法：</strong>
						</div>
						<div class="block_second">
							<strong>+ </strong>平时爱在
							<a href="http://acm.hdu.edu.cn/userstatus.php?user=753237738" target="_blank"><strong>杭电oj</strong></a>
							刷题，算法基础，数据结构扎实。
							</br>
							<strong>+ </strong>阅读英文算法论文，无语言障碍。
							</br>
							<strong>+ </strong>c++，数据库等基础课程也都学完（学校内容比较水）。
							</br>
							<strong>+ </strong>完全独立写过qt，包括数字图像处理软件、贪吃蛇、学校网络跨系统登录（使用wireshark抓学校原生登录软件发出的验证包）、跳点搜索算法界面。
							</br>
						</div>
						<div class="clear"></div>
					</div>

					<div class="block">
						<div class="block_first">
							<strong>前端：</strong>
						</div>
						<div class="block_second">
						<strong>+ </strong>平时写一些前端：
						</br>
						<a href="http://hacking.pub/particle" target="_blank"><strong>粒子效果</strong></a>，
						<a href="http://hacking.pub/cv" target="_blank"><strong>个人cv</strong></a>，
						<a href="http://hacking.pub/myEnglishSlide" target="_blank"><strong>英语展示</strong></a>，
						<a href="http://hacking.pub/chat" target="_blank"><strong>在线聊天室(含xss)</strong></a>，
						<a href="http://hacking.pub/baidumap" target="_blank"><strong>地图</strong></a>，
						<a href="http://hacking.pub/paint" target="_blank"><strong>base64+hash记录绘图点</strong></a>，
						<a href="http://hacking.pub/sort" target="_blank"><strong>快排可视化</strong></a>，
						<a href="http://hacking.pub/blog" target="_blank"><strong>个人blog系统</strong></a>，
						基于websocket的双人对战<a href="http://hacking.pub/chessgame" target="_blank"><strong>象棋平台(未完成)</strong></a>
                        <a href="https://github.com/chainhelen/nodejs-blog" target="_blank">目前的内容输出</a>
                        等
						</div>
						<div class="clear"></div>
					</div>

					<div class="block">
						<div class="block_first">
							<strong>渗透：</strong>
						</div>
						<div class="block_second">
						<strong>+ </strong>爱看
						听潮门户(已关闭)，
						安全参考，
						码农周刊等网络安全或编程方面的网站及杂志。
						</br>
						<strong>+ </strong>善于使用
						kali，
						metasploit
						等开源渗透平台，使用工具以及渗透基本流程。
						</br>
						<strong>+ </strong>近期在<a href="http://www.wechall.net/profile/chainhelen" target="_blank"><strong>wechall</strong></a>或者其绑定网站上刷题
						</br>
						<strong>+ </strong>关注网络安全，我的<a href="http://wooyun.org/whitehats/chainhelen" target="_blank">乌云白帽子</a>帐号，有输出<a href="http://hacking.pub/blog/网络安全" target="_blank">安全文档</a>后期
						</div>
						<div class="clear"></div>
					</div>

					<div class="block">
						<div class="block_first">
							<strong>英语：</strong>
						</div>
						<div class="block_second">
						<strong>+ </strong>	4级
							<strong>&nbsp|&nbsp</strong>
								经常查看英文文档或英文编程书籍 
							<strong>&nbsp|&nbsp</strong>
								喜欢在<strong>github</strong>&nbsp<a href="http://www.github.com/chainhelen" target="_blank">(个人项目较少)</a>上查找资源
							</br>
							<strong>&nbsp|&nbsp</strong>
								有时也会在<a href="http://www.codeforces.com/profile/qianhailong" target="_blank"><strong>codeforces</strong></a>、<a href="http://bestcoder.hdu.edu.cn/rating.php?user=chainhelen" target="_blank"><strong>bestcoder</strong></a>上比赛。
						</div>
						<div class="clear"></div>
					</div>
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="title">在校学习情况</h2>
		<div class="set">
			<div class="item">
				<h3>
					<ul>
						<li class="none"><strong>2014/02 美国数学建模大赛</strong></li>
						<li class="none">三等奖</li>
						<li class="none"><strong>2013/11 第四届“朗讯杯”科技实训大赛 </strong></li>
						<li class="none">高级组二等奖</li>
						<li class="none"><strong>2014/04 第三届“华为杯”程序设计大赛 </strong></li>
						<li class="none">高级组三等奖</li>
						<li class="none"><strong>2014/08 全国数学建模大赛 </strong></li>
						<li class="none">山东省三等奖</li>
					</ul>
				</h3>
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="title">实践经验</h2>
		<div class="set">
			<div class="item">
				<h3>
					<ul style="border-bottom:1px dotted #1121E8">
						<li class="none">2015/07 -- 2016/04</li>
						<li class="none"><strong>南京华为</strong></li>
						<li class="none">网络操作系统开发部</li>
                        <li class="none">netconf 开发小组 --> sdn 网元业务开发部</li>
                        <li class="none">主要工作：南向工具的开发，netconf协议的产品维护 (c 语言)</li>
					</ul>
				</h3>
			</div>
			<div class="item">
				<h3>
					<ul style="border-bottom:1px dotted #1121E8">
						<li class="none">2013年 -- 2015年</li>
						<li class="none"><strong>基于L0思想的图形图像算法推广</strong></li>
						<li class="none">在本校相关老师指导下，拓展L0算法的适用范围及平滑优化。本人主要负责三维图像平滑的编程实现（c++）和创新应用。主要涉及到稀疏矩阵快速求解，NP难转换近似P难，双边滤波推广三维等问题。有关学术论文正在编写中。
						<li class="none"><strong>另一篇SCI论文</strong></li>
						<li class="none">Yong Zhao, Hailong Qian, Shengjie Lu. A deformation-aware hierarchical framework for shape-preserving editing of static and time-varying mesh data. Computers & Graphics. 2015, 46: 80-88.</li>
					</ul>
				</h3>
			</div>
			<div class="item">
				<h3>
					<ul style="border-bottom:1px dotted #1121E8">
						<li class="none">2014/03 -- 2014/09</li>
						<li class="none"><strong>新浪潍坊美工组</strong></li>
						<li class="none">主要是承接各种产品宣传网页的制作工作。本人主要负责前端编程并一直按时按量完成工作。</li>
					</ul>
				</h3>
			</div>
			<div class="item">
				<h3>
					<ul style="border-bottom:1px dotted #1121E8">
						<li class="none">2014/08 -- 未知（约一年不到）</li>
						<li class="none"><strong>其他外包</strong></li>
						<li class="none">少量搭建网站(wamp/lamp)</li>
					</ul>
				</h3>
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="title">其他补充</h2>
			<div style="float:right">
				<p>此初步搞定，完成于 2014.10.20</p>
				<p>响应式搞定，完成于 2015.09.13</p>
				<p>内容更新　，完成于 2016.05.14</p>
			</div>
	</div>
</div>
</body>
</html>
