<!doctype html>
<html>
    <head>
        <title>Chainhelen's EnglishSlide</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="stylesheets/englishslide/impress-demo.css" rel="stylesheet" />
        <meta name="viewport" content="width=1024" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
    </head>
    <body class="impress-not-supported">
      <div class="fallback-message">
       <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p><p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
      </div>

      <div id="impress"> 
        <div class="step" data-x="-2000" data-y="-1500">
          <q><b style="font-size:60px">Disneyland or Disneyland Park</b></q>
          <img src="images/englishslide/disney.jpg" style="position:relative;right:15%"/>
          <q style="position:absolute;right:0">2014-03-23   钱海龙</q>
        </div>

        <div class="step" data-x="-1000" data-y="-1500">
          <q style="font-size:40px">Disneyland Park, originally Disneyland, is the first of two theme parks built at the Disneyland Resort in </q><q style="color:red">aheim</q>, <q style="color:red">California</q>, <q style="color:red">opened on July 17, 1955.</q>         
          <img src="images/englishslide/disneyland.JPG"/> 
        </div>

        <div class="step" data-x="0" data-y="-1500">
          <q><strong>Walt Elias Disney 1901.12.5.—1966.12.15</strong></q>
          <br/>
          <img src="images/englishslide/walter.jpg" style="position:relative;left:20%"/>        
        </div> 

        <div class="step" data-x="-1000" data-y="-500" data-z="-500">
          <q>He initially envisioned building a tourist</q>
          <q style="color:red">attraction</q>
          <q>adjacent to his studios to</q>
          <q style="color:red">entertain</q>
          <q>fans who wished to visit</q>
          <br/>
          <img src="images/englishslide/thinking.jpg" style="position:relative;left:15%"/> 
        </div> 
 
        <div class="step" data-x="-1000" data-y="-800" data-z="-1000" data-rotate="90" data-rotate-z="180" data-scale="0.1">
          <q>He soon realized that the proposed site was too <br/><i style="color:rgb(229,148,148)">small</i><i style="color:rgb(221,108,108);font-size:90px">     small</i><i style="color:red;font-size:120px">   small  </i><i style="color:red;font-size:150px">!</i></q>
          <br/>
          <img src="images/englishslide/yaoming.jpg" style="left:15%;position:relative"/>
        </div>

        <div class="step" data-x="-1000" data-y="0" data-z="1000" data-rotate-x="-30" data-rotate-y="60" data-rotate-z="30">
          <q>After hiring a consultant to help him determine an appropriate site for his project, Walt bought a <q style="color:red;font-size:80px">160-acre </q> site near Anaheim in 1953. </q>
          <br/>
          <img src="images/englishslide/changdi.jpg" style="left:10%;width:500px;height:400px;position:relative"/>
        </div>

        <div class="step" data-x="-1000" data-y="400" data-z="800" data-rotate-x="-60" data-rotate-y="-30"> 
          <q>Construction began in 1954 and the park was unveiled during a special televised press event on the <q style="color:red;font-size:70px">ABC Television</q> Network on July 17, 1955.</q>
          <br/>
          <img src="images/englishslide/tv.jpg" style="left:10%;top:0px;width:350px;height:300px;position:relative;opacity:0.8"/>
		</div>       
 
        <div class="step" data-x="-1000" data-y="800" data-z="200"> 
          <q style="font-size:60px;color:red;opacity:0.8">expansions and renovation:</q>
          <br/>
          <li style="font-size:30px">New Orleans Square in 1966</li>
          <li style="font-size:30px">Bear Country(now Critter Country) in 1972</li>
          <li style="font-size:30px">Mickey's Toontown in 1993</li>
        </div>

       <div class="step" data-x="-2000" data-y="800" data-z="0">
         <q style="">Disneyland has a larger cumulative attendance than any other theme park in the world, with over <q style="color:red">650 million</q> guests since it opened. In 2011, the park hosted approximately <q style="color:red">16.14 million </q>guests, making it <q style="color:red">the second most visited </q>park in the world that calendar year.</q> 
       </div>

       <div class="step" data-x="-500" data-y="800" data-rotate-y="30" data-rotate-x="-70" data-rotate="-90">
         <q>According to a March 2005 report from the Disney Company, there are 65,700 jobs supported by the Disneyland Resort, which includes, at the Resort itself, 20,000 direct Disney employees and 3,800 <q style="color:red">third-party</q> employees (that is, independent contractors or their employees).</q>
       </div>

       <div class="step" data-x="1500" data-y="-500" data-rotate="90">
         <img src="images/englishslide/child.jpg" style="right:0;width:100%"/>
       </div>
       
       <div class="step" data-x="1500" data-y="500" data-z="-200" data-rotate="90">
         <img src="images/englishslide/child2.jpg" style="right:0;width:100%"/>
       </div>

       <div class="step" data-x="2000" data-y="1500" data-rotate="40">
         <q style="left:20%;color:red;position:relative">Adventureland</q>
         <br/>
         <img src="images/englishslide/Adventureland.jpg" style="left:10%;width:70%;height:70%;position:relative"/>
         <br/>
         <q style="font-size:45px">In Adventureland, embark on a bold expedition into excitement and intrigue! </q>
       </div>
       
       <div class="step" data-x="3000" data-z="-200" data-y="1500">
         <q style="left:10%;color:red;position:relative">Critter country</q>
         <br/>
         <img src="images/englishslide/Critter country.jpg"/>
         <br/>
         <q style="font-size:45px">Come visit Critter Country and frolic for a spell in the beautiful, rustic land where walking, talking critters sing songs of woodland delights.</q>
       </div>

       <div class="step" data-x="3700" data-y="1400" data-rotate="140">
         <q style="left:10%;color:red;position:relative">Fantasyland</q>
         <br/>
         <img src="images/englishslide/Fantasyland.jpg"/>
         <br/>
         <q style="font-size:45px">Fantasyland is where you can meet the heroes and villains of your favorite Disney stories. </q> 
       </div>

       <div class="step" data-x="4400" data-y="500" data-z="-200" data-rotate="90">
         <q style="left:10%;color:red;position:relative">Frontierland</q>         
         <br/>
         <img src="images/englishslide/Frontierland.jpg"/>
         <br/>
         <q style="font-size:45px">Forge onward into the rugged region of Frontierland!</q>
         <br/>
       </div>

       <div class="step" data-x="4400" data-y="-600" data-rotate="-90">
         <q style="left:10%;color:red;position:relative">Main Street,USA</q>         
         <br/>
         <img src="images/englishslide/Main Street,USA.jpg"/>
         <br/>
         <q style="font-size:45px">Main Street, U.S.A. is the gateway to Disneyland Park.</q>
         <br/>
       </div>

       <div class="step" data-x="0" data-y="2300" data-z="1000" data-rotate-z="-30" data-rotate-x="-40">
         <q style="left:10%;color:red;position:relative">Mickey's Tootown</q>        
         <br/>
         <img src="images/englishslide/Mickey's Toontown.jpg" style="height:80%;width:60%"/>
         <br>
         <q style="font-size:45px">Mickey's Toontown is an interactive metropolis full of topsy turvy architecture and screwy sculptures.</q>
       </div>

       <div class="step" data-x="-1700" data-y="2300" data-z="1000" data-rotate-z="140" data-rotate-x="-40">
         <q style="left:10%;color:red;position:relative">New Orleans Square</q>        
         <br/>
         <img src="images/englishslide/New Orleans Square.jpg"/>
         <br/>
         <q style="font-size:45px">Welcome to the French Quarter of New Orleans Square in Disneyland Park!</q>
       </div>

       <div class="step" data-x="-2100" data-y="3100" data-z="1000" data-rotate-z="70">
         <q style="left:10%;color:red;position:relative">Tomorrowland</q>        
         <br/>
         <img src="images/englishslide/Tomorrowland.jpg"/>
         <br/>
         <q style="font-size:45px">Here in Tomorrowland, the future is today!</q>
       </div>

       <div class="step" data-x="-1600" data-y="4200" data-z="1000" data-rotate-z="50" data-rotate-x="-40">
         <img src="images/englishslide/disneyland2.jpg"/>
       </div>

       <div class="step" data-x="-500" data-y="4300" data-z="1000" data-rotate-z="-50" data-rotate-x="-40">
         <img src="images/englishslide/xianggangdisneyland.jpg" style="width:110%;height:100%"/>
       </div>

       <div class="step" data-x="200" data-y="3200" data-z="1000" data-rotate-z="-80">
         <img src="images/englishslide/shanghaidisneyland.jpg" style="width:110%;height:100%"/>
       </div>

       <div class="step" data-x="-1200" data-y="2700" data-z="-500">
         <img src="images/englishslide/label.jpg" style="width:100%;height:100%"/>
       </div>

       <div id="overview" class="step" data-x="1000" data-y="2000" data-scale="10"></div>

      </div>
      <script type="text/javascript" src="javascripts/englishslide/impress.js"></script>
      <script>impress().init();</script>
      <script type="text/javascript" src="javascripts/englishslide/jquery.js"></script>
      <script type="text/javascript" language=JavaScript charset="UTF-8">
        document.onkeydown=function(event){
          var e = event || window.event || arguments.callee.caller.arguments[0];
          var relo = function(){
            window.top.location.reload();
            alert("Thank you for listening!");
          }
          if(e && (e.keyCode==27 || e.keyCode==84)){
            for(var i = 0;i <= 9;i++){
              $(".step").eq(i).css({"background-color":"red"});
            }
            for(var i = 10;i <= 16;i++){
              $(".step").eq(i).css({"background-color":"blue"});            
            }
            for(var i = 17;i <= 22;i++){
              $(".step").eq(i).css({"background-color":"green"});            
            }
            setTimeout(relo,8000);
          }
        }
      </script>

    </body>
</html>
