<!DOCTYPE>
<html>
	<head>
		<title>Chainhelen'painting</title>
		<style>
			body {
				margin: 0px;
				padding: 0px;
			}
			#myCanvas {
				border: 1px solid #9C9898;
			}
		</style>
	</head>
	<body>
		<canvas id="myCanvas" width="490" height="220"></canvas>
		<script type="text/javascript" src="/javascripts/base64.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/paint/paint.js"></script>
		<script type="text/javascript" src="/javascripts/paint/hash.js"></script>
		<script type="text/javascript" src="/javascripts/ga.js"></script>
	</body>
</html>
