<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Socket chat</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/simple_chat.css">
    <script src="javascripts/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>test chat room</h1>
		<h2> your ip : <%= json%></h2>
		<div>
        <span id="status">Connecting...</span>
        <input type="text" id="input"/>
    </div>
    <div id="content"></div>
    <script>
        var target = {};
        target.port = "<%= target.port %>";
        target.host = "<%= target.host %>";
    </script>
    <script src="javascripts/chat/chat.js"></script>
</body>
</html>
