<!DOCTYPE>
<html>
	<head></head>
	<body>
		<h1>javascrpt绘图</h1>
		<ul>
			<a href="http://www.cnblogs.com/tim-li/archive/2012/08/06/2580252.html#0">Canvas</a>
		</ul>
		<h1>nodejs连接远程数据库</h1>
		<ul>
			<li>
				<a href="http://www.cnblogs.com/flyoung2008/archive/2012/07/22/2603791.html">nodejs + express + mongodb</a>
			</li>
			<li>
				<a href="http://www.juziku.com/wiki/4395.htm">nodejs连接数据库</a>
			</li>
		</ul>
		<h1>window.location.hash属性介绍</h1>
		<a href="http://www.cnblogs.com/china-aspx/archive/2008/04/20/1162597.html">网页添加hash</a>
		<p>
		function updateUrl() {
    		var js = $('#ai').val();
    		document.location.hash = Base64.encode([js].join("\x7f"));
		};
		</p>
		<a href="http://www.css88.com/archives/586" >jquery循环事件绑定</a>
		<h1>Div里面载入另一个页面的实现(取代框架)（AJax）</h1>
		<a href="http://www.w3school.com.cn/tiy/t.asp?f=jquery_ajax_load">ajax</a>
		<a href="http://qianduanblog.com/2003.html">前端博客</a>
		<a href="http://www.educity.cn/java/673647.html">window.location.hash使用说明</a>
		<a href="https://support.google.com/analytics/answer/1034342?hl=zh-Hans">ga</a>
		<a href="http://www.gowhich.com/"><h1>gowhich</h1></a>
		<a href="http://yhz61010.iteye.com/blog/1864952"><h1>天气API</h1></a>
		<a href="http://www.hujuntao.com/api/weather-api-collected.html">tianqiapi</a>
		<a href="http://www.ruanyifeng.com/blog/2012/05/responsive_web_design.html">自适应网页设计</a>
		<a href="http://www.css88.com/tool/css3Preview/Box-Shadow.html">box 阴影</a>
		<a href="http://www.css88.com/archives/2301">css3动画</a>
		<a href="http://sc.chinaz.com/jiaoben/caidanhaohang.html">导航栏</a>
		<a href="http://www.oschina.net/code/snippet_1396465_32707">蓝色跟踪</a>
		<a href="http://documentup.com/arturadib/node-qt">nodeqt</a>
		<a href="http://www.noanylove.com/2012/04/node-js-to-write-a-gui-program/">nodefive</a>
		<a href="https://github.com/nathanfaucett/Odin.js"></a>
		<a href="http://www.kankanews.com/ICkengine/archives/7189.shtml"></a>
		<a href="http://fgnass.github.io/spin.js/">进度条</a>
		<a href="http://projects.lukehaas.me/css-loaders/">进度条2</a>
		<h1>游戏服务器</h1>
		<a href="http://www.oschina.net/question/89964_56072">node + express</a>
		<a href="http://blog.csdn.net/u011581005/article/details/23650917">4月</a>
		<a href="http://dorey.github.io/JavaScript-Equality-Table/">javascript 相等</a>
		<a href="http://www.jq-school.com/upload/20121215135921093/demo.html">例子</a>
		<a href="http://3d.yuxiaoxi.com/">3d字体</a>
		<a href="http://www.zhangxinxu.com/wordpress/?p=2592">3d 旋转</a>
		<a href="http://ecd.tencent.com/css3/tools.html">3d 动画工具</a>
		<a href="http://www.53dns.com/info/html/xwpd/Webqd_1165_8931793483.html">css3 20个插件</a>
		<a href="http://tympanus.net/codrops/2011/09/05/slicebox-3d-image-slider/">幻灯盒（sina)</a>
		<a href="https://github.com/joelambert/Flux-Slider">幻灯盒2(sina)</a>
		<a href="http://www.qianduan.net/what-is-webkit-filter.html">图片滤镜</a>
		<a href="http://www.oschina.net/news/41077/15-page-transitions-effects-tutorials-in-css3-and-jquery"></a>
		<a href="http://www.cnblogs.com/breakdown/archive/2012/07/31/2578233.html">jquery动画队列</a>
		<h1>funny website</h1>
		<a href="http://runnable.com/">run your code online</a>
		<a href="http://www.webhek.com/misc/z-type/">盲打</a>
		<a href="http://blog.jobbole.com/67977/">显示数据库查询耗时，改善开发者习惯</a>
		<a href="http://opennodes.arecord.us/md/ejs.md">express进阶操作</a>

		<h1>ubuntu</h1>
		<a href="http://blog.sina.com.cn/s/blog_69dd1a0901014437.html">ubuntu卡在关机</a>
		<a href="http://cdimage.kali.org/">kali for downloads</a>
		<h1>node</h1>
		< a href="http://www.tuicool.com/articles/ZJJ7fe">mongodb模板</a>
		<a href="http://www.zhanxin.info/nodejs/2013-10-16-simple-authentication-in-nodejs.html">身份验证</a>
		<a href="http://cnodejs.org/topic/4faf88ee9f281d96650030aa">14.05.25 11:34 exports 和 module.exports</a>
		<div style="width:100%;height:200px"></div>

		<h1>codegame</h1>
		<a href="http://zihua.li/2014/11/talk-about-codegame/">codegame详解 主要看沙盒</a>
		
		<script type="text/javascript" src="/javascripts/ga.js"></script>
	</body>
	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50474742-1', 'chainhelen.herokuapp.com');
  ga('send', 'pageview');

</script>
</html>
