<% include ./models/Head.html %>
<div id="main">
    <div class="title">
        <h1>Hello World</h1>
    </div>
    <div class="content">
        <div class="small-title"><p>一:</p></div>
        <div class="small-content"><p>先按照我给的百度云链接下载，解压，可看见如下内容，双击start.bat</p></div>
        <div style="clear:both"></div>
        <div class="simg"><img src="/images/socks5/1.png"></img></div>
    </div>
    <div class="content">
        <div class="small-title"><p>二:</p></div>
        <div class="small-content"><p>若出现如下错误，则关闭所有其他浏览器，重新双击start.bat</p></div>
        <div class="simg"><img src="/images/socks5/2.png"></img></div>
    </div>
    <div class="content">
        <div class="small-title"><p style="color:red">翻墙时:</p></div>
        <div class="small-content"><p>点击浏览器右上角按钮，然后选择"socks"按钮</p></div>
        <div class="simg"><img src="/images/socks5/3.png"></img></div>
    </div>
    <div class="content">
        <div class="small-title"><p>比如:</p></div>
        <div class="small-content"><p>这时候就可以打开Facebook网站,在网址栏输入www.facebook.com,回车</p></div>
        <div class="simg"><img src="/images/socks5/4.png"></img></div>
    </div>
    <div class="content">
        <div class="small-title"><p>又比如:</p></div>
        <div class="small-content"><p>还可以打开google网站,在网址栏输入www.google.com,回车</p></div>
        <div class="simg"><img src="/images/socks5/5.png"></img></div>
    </div>
    <div class="content">
        <div class="small-title"><p style="color:red">其他注意事项:</p></div>
        <div class="small-content"><p>当不需要翻墙时，点击浏览器右上角按钮，然后选择"直接连接"按钮,就可以关闭翻墙</p></div>
        <div class="simg"><img src="/images/socks5/6.png"></img></div>
    </div>
    <% var SignatureTime = "2015.05.05" %>
    <% include ./models/Signature.html %>
</div>
<% include ./models/Foot.html %>
