<% include ./models/Head.html %>
<div id="main">
    <div class="title">
        <% if("undefined" != typeof(fix) && true == fix) { %>
            <h1>you can manage <font style="font-size:15px">
                    <%if("chainhelen" == username) { %>
                        <a href="/blog">browse</a>
                    <% } else {%>
                        <a href="/user/<%= username %>">browse</a>
                    <% } %>
            or <a href="/">logout</a><font></h1>
        <% } else {%>
            <h1>welcome to my blog </h1>
            <% if("undefined" != haslogin && null != haslogin) { %>
                <style type="text/css">
                    #manageorlogout:hover {
                        text-decoration:underline
                    }
                </style>
                <script type="text/javascript" src="/javascripts/jquery.js"></script>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $("#needtonone").fadeOut(3000);
                    });
                </script>
                <p style="font-size:18px"><font id="needtonone">you has login, can </font><a href="/admin_blog_index" id="manageorlogout">manage or logout</a></p>
            <% } %>
        <% } %>
    </div>
        <% blogitems.forEach(function(item){ %>
			<% if("关于本blog系统" == item.title){ %>
	    	    <p style="color:red"><%= item.title %>
			<% }else { %>
	    	    <p><%= item.title %>
			<% } %>


			<% if("undefined" != typeof(fix) && true == fix) { %>
				<a href="/admin_blog?title=<%= item.escapetitle %>" target="_blank">--xx</a>
			<% }else {%>
				<% if("undefined" != typeof(firstshow)) {%>
					<a href="/blog/<%= item.title %>" target="_blank">-></a>
				<% }else {%>
					<a href="/user/<%= username %>/<%= item.title %>" target="_blank">-></a>
				<% } %>
			<% } %>
			</p>
        <% }) %>
