<% include ./models/Head.html %>
<div id="main">
    <div class="title">
        <h1>vim自动补全(win7)</h1>
    </div>
    <div class="content">
        <div class="small-title"><p>安装:</p></div>
        <div class="small-content">
            <p>假设你用bundle管理插件</p>
        </div>
        <div class="left-content">
            <div class="bli">
                <div class="li">1.</div>
                <div class="li-c">先使用git clone <a target="_blank" style="text-decoration:none" href="http://valloric.github.io/YouCompleteMe">下载</a>youcompleteme在bundle目录</div>
                <div style="clear:both"></div>
            </div>
            <div class="bli">
                <div class="li">2.</div>
                <div class="li-c">然后下载大牛编译好的windows版的<a href="https://bitbucket.org/Haroogan/vim-youcompleteme-for-windows/downloads">插件</a>覆盖上述的插件</div>
                <div style="clear:both"></div>
            </div>
            <div class="bli">
                <div class="li">3.</div>
                <div class="li-c">下载该文件中的<a href="http://pan.baidu.com/s/1kT20pUJ">libclang.dll</a>,放在上述插件的python文件路径里</div>
                <div style="clear:both"></div>
            </div>
            </br>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="content">
        <div class="small-title"><p>注意:</p></div>
        <div class="small-content">
            <p>遇到如下错误</p>
        </div>
        <div class="left-content">
            <div class="bli">
                <pre><!--{-->
                    <code class="cpp">
Runtime Error!

Program: $VIM\gvim.exe

R6034
An application has made an attempt to load the C runtime
library incorrectly.
Please contact the application's support team for more
information.
                    </code>
                </pre><!--}-->
            </div>
            <div class="bli">
                <div class="li-3">那么恭喜你，遇上大坑</div>
                <div class="li-3">可以尝试将环境变量中的path，含有msvcr90.dll的，全部删除</div>
                <div class="li-3">我当时的方式是全盘搜索了该文件，全部删除</div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <% var SignatureTime = "2015.06.11" %>
    <% include ./models/Signature.html %>
</div>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/javascripts/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                $('pre code').each(function(i, block) {
                    hljs.highlightBlock(block);
                });
        });
    </script>
<% include ./models/Foot.html %>
